[project]
name = "boilermaker-servicebus"
version = "0.5.0a1"
description = "An async python Background task system using Azure Service Bus Queues"
authors = [
    { "name" = "Erik Aker", "email" = "eaker@mulliganfunding.com" },
]
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "anyio >= 4.6.2.post1",
    "azure-core-tracing-opentelemetry >= 1.0.0b11",
    "azure-servicebus >= 7.12.3",
    "azure-identity >= 1.18.0",
    "opentelemetry-api >= 1.28.2",
    "pydantic >= 2.9.2",
    "pydantic-settings >= 2.5.2",
]

[tool.uv]
dev-dependencies = [
    "build>=1.2.1",
    "pytest>=8.3.3",
    "pytest-asyncio>=0.24.0",
    "pytest-cov>=6",
    "pytest-mypy>=0.10.3",
    "ruff>=0.6",
]

[build-system]
requires = ["setuptools", "versioningit"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]

[tool.pytest.ini_options]
minversion = "8.3"
pythonpath = "."
asyncio_mode = "auto"
xfail_strict = "True"
addopts = "--cov-report=term-missing:skip-covered --cov=boilermaker --strict-config --strict-markers --cov-report html"
testpaths = ["tests"]
filterwarnings = [
    "error"
]

[tool.ruff]
src = ["boilermaker", "tests"]
fix = true
show-fixes = true
output-format = "full"
line-length = 110

[tool.ruff.lint]
select = [
    "B",  # flake8-bugbear
    "E",  # pycodestyle error
    "F",  # pyflakes
    "FA",  # flake8-future-annotations
    "I",  # isort
    "N",  # pep8-naming
    "UP",  # pyupgrade
    "W",  # pycodestyle warning
]
ignore = ["N818", "N805"]  # exception naming

[tool.ruff.lint.isort]
force-single-line = false
order-by-type = false
